llama-cloud==0.1.4
llama-index==0.11.19
llama-index-embeddings-gemini==0.2.1
llama-index-embeddings-openai==0.2.5
llama-index-llms-gemini==0.3.7
llama-index-llms-openai==0.2.15
llama-index-vector-stores-pinecone==0.2.1
openai==1.52.0
pinecone-client==5.0.1
python-dotenv==1.0.1
tqdm==4.66.5
